/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2"),
    url(../fonts/ptsans-400.woff2) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2"),
    url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}



/* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;


  :root {
    --black: #000000;
    --grey-dark: #333333;
    --grey-basic: #e5e5e5;
    --grey-light: #f2f2f2;
    --white: #FFFFFF;

    --brown: #756257;
    --green: #7DB54F;
    --blue: #83B3D3;
    --blue-extra-light: #E6F0F6;

    --brown-dark: #615048;
    --green-dark: #6C9E42;
    --blue-dark: #68A2CA;
    --blue-light: #F0F6FA;

    /* Status *
    --error: #FF5757;
    --warning: #FD922E;
    --success: #7DB550;
}
 */


/* General  */
html {
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  ;
}

/*  Page-container  */
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Button */
.btn {
  font-family: inherit;
  color: #FFFFFF;
  border-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-style: 400;
  font-weight: 700;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.3);
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/*////////////////////////  Состояние цветных кнопок   ////////////////////////*/
/*////////////////////////  Brown Btn   ////////////////////////*/

.brown-btn {
  background-color: #756257;
}

.brown-btn:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.brown-btn:hover {
  background-color: #615048;
}

.brown-btn:active {
  background-color: #615048;

}

/*////////////////////////  Blue Btn   ////////////////////////*/

.blue-btn {
  background-color: #83B3D3;
}

.blue-btn:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.blue-btn:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.blue-btn:active {
  background-color: #68A2CA;
}

/*////////////////////////  Green Btn   ////////////////////////*/

.green-btn {
  background-color: #7DB54F;
}

.green-btn:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.green-btn:hover {
  background-color: #6C9E42;
}

.green-btn:active {
  background-color: #6C9E42;
}

/*////////////////////////    Transparent Btn   ////////////////////////*/

.transparent-btn {
  background-color: transparent;
}

/* Pages */
/* Index */
/* Main Navigation */
.main-header {
  background-color: #FFFFFF;
}

.main-navigation {
  height: 65px;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-navigation-list {
  display: flex;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: auto;
}

.navigation-item {
  padding-right: 30px;
}

.navigation-link--current {
  border-bottom: 2px solid #756257;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 6px 12px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
  border: none;
}

.navigation-link-current {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  outline: 2px solid #756257;
}

.navigation-link {}

.logo-link {}

/* разместить лого по центру сверху шапки*/
.logo {
  margin: 0 auto;
  top: 0;
  z-index: 1;
}

.navigation-user {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-link {}

/* Main Navigation  -- Icons */
.user-link--search-icon {
  background-image: url(../images/index-icons/search.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  width: 18px;
  padding-left: 20px;
  vertical-align: middle;
}

.user-link.user-link--heart-icon {
  background-image: url(../images/index-icons/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;

  width: 18px;
  padding-left: 20px;
  vertical-align: middle;
}

/* нужно поменять цвет иконок при нажатии */
.user-link--search-icon:hover {
  color: var(--warm-brown);
}

/* нужно поменять цвет иконок при нажатии */
.user-link--heart-icon:hover {
  color: var(--warm-brown);
}

.user-link--search-icon:focus {
  color: var(--warm-brown);
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.user-link--heart-icon:focus {
  color: var(--warm-brown);
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.circus-green {
  width: 19px;
  height: 19px;
  background-color: #7DB550;
  color: #FFFFFF;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  right: 440px;
  top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.1em;
}

/* Main Navigation  -- Btn                    -- Bnt    */
.btn--header-btn {
  width: 160px;
  padding: 10px 40px;
  border-radius: 4px;
}

/* Main-Index */
.main-page {}

.welcome-section--with-img {
  background-color: #83B3D3;
  background-image:
    url("../images/index-divider.svg"), url("../images/index-cover.jpg");
  background-position: left 0 bottom 0px, 0 -10px;
  background-size: 1200px 57px, 1200px 485px;
  background-repeat: no-repeat;

  display: flex;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.welcome-cover-img {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 87px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 282px;
  background-color: #FFFFFF;
  padding-bottom: 80px;
}

.welcome-caption {
  font-style: 400;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 23px;
  width: 720px;
}

.welcome-subtitle {
  font-style: 400;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 80px;
  text-align: center;
}


/* Advantages */
/*  Цвета для контейнеров повторяются --  */
.advantage-container--blue {
  background-color: #83B3D3;
}

.advantages-container--light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container--cold {
  background-color: rgba(131, 179, 211, 0.2);
}

.feature-container--cold {
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-container--white {
  background-color: #FFFFFF;
}


/* Advantages */
.advantages-section {
  display: flex;
  flex-wrap: wrap;

  outline: 5px solid rgba(102, 255, 0, 0.5);
  outline-offset: -5px;
}

.advantages-list {
  text-align: center;


  outline: 3px solid rgba(8, 102, 243, 0.5);
  outline-offset: -5px;
}


.advantages-item {}

.advantages {

  outline: 5px solid rgba(55, 71, 223, 0.973);
  outline-offset: -5px;
}

.advantage--with-image {

  outline: 4px solid rgba(10, 168, 160, 0.973);
  outline-offset: -5px;
}

.advantage-img {
  width: 800px;
  height: 384px;

  /* position: absolute; */
}

.advantages--with-image-reverse {

  outline: 3px solid rgba(106, 255, 6, 0.973);
  outline-offset: -5px;

  /* display: flex;
  flex-direction: row-reverse; */
}

.advantage-title {
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;


  outline: 5px solid rgba(247, 29, 0, 0.5);
  outline-offset: -5px;
}

.advantage--number-item {}

.advantage-description {
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

/* Feature */
.feature-list {
  /* display: flex;
  flex-direction: row; */
}

.feature-item {}

.feature-title {
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.feature-descrition {
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;


  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

/* Feature  -- Icons */
.feature-item--home-icon {
  background-image: url(../images/index-icons/home.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.feature-item--eating-icon {
  background-image: url(../images/index-icons/eating.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.feature-item--souvenir-icon {
  background-image: url(../images/index-icons/souvenir.svg);
  background-size: 64px 75px;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

/* Hotel-Search */
.hotel-search-section {
  width: 1200px;
  background-color: #FFFFFF;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-subtitle {
  width: 720px;
  font-style: 400;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-align: center;
  margin-top: 30px;
}

/* Hotel-Search  -- Bnt                        -- Bnt   */
.btn--hotel-search-btn {
  width: 575px;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;

  padding: 10px;
  margin-top: 50px;
  margin-bottom: 90px;
}

/* Catalog */

.main-inner {}

.inner-header--with-img {
  width: 1200px;
  height: 410px;
  background-image: url(../images/catalog-bg.jpg);
  background-color: #83B3D3;
  color: #FFFFFF;
}

/* Catalog-Header */
.inner-header-title {
  max-width: 528px;
  font-style: 400;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

  margin-left: 70px;
  padding-top: 30px;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.inner-header-container {}

.breadcrumbs {
  width: 110px;
  margin-left: 70px;
  margin-bottom: 45px;

  outline: 2px solid rgba(0, 41, 224, 0.5);
  outline-offset: -5px; */
}

.breadcrumbs-item {}

/* .breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-item:active {

} */

.breadcrumbs-icon {
  background-image: url(../images/icons/home.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;

  outline: 5px solid rgba(40, 218, 4, 0.5);
  outline-offset: -5px;
}

.breadcrumbs-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-icon:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-icon:active {
  opacity: 0.3;
}

.breadcrumbs-link {


  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}


.catalog-filter-form {
  display: flex;
  justify-content: space-evenly;
}

.catalog-filter-group {
  width: 150px;
  height: 150px;
  border: none;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-filter-title {
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  margin-bottom: 25px;
  /*outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-filter-list {
  outline: 5px solid rgba(255, 251, 0, 0.5);
  outline-offset: -5px;
}

.catalog-filter-item {
  margin-bottom: 10px;

  /*outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-filter-lebel {}

.catalog-price-container {}

.catalog-price-field {
  width: 290px;
  height: 140px;
  border: none;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-price-controls {
  display: flex;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-price-min {

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-price-max {

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.input-min {
  width: 145px;
  height: 48px;
  color: #FFFFFF;
  background-color: transparent;
  outline: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.input-max {
  width: 145px;
  height: 48px;
  color: #FFFFFF;
  background-color: transparent;
  outline: 2px solid #FFFFFF;
  border-radius: 0px 4px 4px 0px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.input-min:hover {
  opacity: 0.6;
  outline: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
}

.input-max:hover {
  opacity: 0.6;
  outline: 2px solid #FFFFFF;
  border-radius: 0px 4px 4px 0px;
}

.input-min:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.input-max:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 0px 4px 4px 0px;
}

.input-min:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
}

.input-max:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 0px 4px 4px 0px;
}


/*  контейнер для ползунка  */
.range-toggle {}

.toggle-min {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.toggle-max {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.toggle-min:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-max:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-min:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-max:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-min:active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-max:active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}




.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}


/* Catalog-Filter  -- Bnt                     -- Bnt    */
.btn--filter-btn {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  padding: 10px;
  border-radius: 4px;
}

.btn--filter-btn:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.btn--filter-btn:hover {
  background-color: #68A2CA;
}

.btn--filter-btn:active {
  background-color: #68A2CA;
}

/* в кнопе Сбросить все буквы маленькие кроме первой , поэтому я использовала capitalize (все кнопки наследуют TEXT-TRANSFORM: UPPERCASE)  */

.btn--reset-btn {
  display: inline-block;
  max-width: 160px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 4px;

  margin-top: 20px;
}

.btn--reset-btn:focus {
  outline: 3px solid #83B3D3;
}

.btn--reset-btn:hover {
  opacity: 0.6;
}

.btn--reset-btn:active {
  opacity: 0.3;
}

.sorting-price-section {
  display: flex;
}

.sorting-price-form {
  display: flex;
}

.search-results {
  font-style: 400;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-price {}

.price-select {


  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

/* Sorting-Price  -- Bnt                      -- Bnt    */
.sorting-container-for-btn {
  margin-left: 500px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.btn--sorting-price-btn {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;

}

/* View-Mode  -- Bnt                          -- Bnt    */
.btn--tile-mode-btn {
  background-image: url(../images/icons/mode-tile.svg);
  background-size: 16px 14px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.btn--slideshow-mode-btn {
  background-image: url(../images/icons/mode-slideshow.svg);
  background-size: 16px 14px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.btn--list-mode-btn {
  background-image: url(../images/icons/mode-list.svg);
  background-size: 16px 14px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}


.hotel-catalog {}

.hotel-catalog-list {}

/* доделать рамку
 */
.hotel-catalog-item {
  border-top: 1px solid #E6E6E6;
}

.hotel-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-right: 110px;
  padding-bottom: 30px;
  padding-left: 70px;

  outline: 3px solid rgba(235, 8, 243, 0.5);
  outline-offset: -5px;
}

.hotel-link {
  outline: 3px solid rgba(35, 209, 13, 0.5);
  outline-offset: -5px;
}

.hotel-link--img-link {}

.hotel-link--img-link:focus {}

.hotel-link--img-link:hover {
  opacity: 0.6;
}

.hotel-link--img-link:active {
  opacity: 0.3;
}


/*   left - col ========>  */
.catalog-container--left-col {
  outline: 3px solid rgba(230, 7, 144, 0.5);
  outline-offset: -5px;
}

.hotel-title {
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-title:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;

}

.hotel-title:hover {
  color: #756257;

}

.hotel-title:active {
  opacity: 0.3;
  border: none;
}

.hotel-container {
  display: flex;
  flex-wrap: wrap;

  outline: 3px solid rgba(12, 180, 166, 0.5);
  outline-offset: -5px;
}


.hotel-type,
.hotel-cost {
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

/* Hotel  -- Bnt */
.btn--hotel-info-btn {
  padding: 10px 30px;
  border-radius: 4px;
}

.btn--fav-hotel-btn {
  padding: 10px 40px;
  border-radius: 4px;
}

/*  <========right - col   */
.catalog-container--right-col {

  /* display: flex;
  flex-direction: column;
  align-items: center; */

  outline: 3px solid rgba(243, 82, 8, 0.5);
  outline-offset: -5px;

}

/* Raiting  -- Bnt                                  -- Bnt    */
.btn--hotel-rating-btn {
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border-radius: 4px;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding: 10px;
}

/*  контейнер для звезд   */
/*    4 звезды   */
.stars-container--stars-four {
  width: 80px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

/*    3 звезды   */
.stars-container--stars-three {
  width: 60px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

/*    2 звезды   */
.stars-container--stars-two {
  width: 40px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

.hotel-catalog-item--catalog-btn {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E6E6E6;
}

.btn--download-btn {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  font-style: 400;
  font-weight: 700;

  width: 625px;
  padding: 10px 50px;
  border-radius: 4px;

  margin: 30px 0px;
}

.pagination-list {
  display: flex;
}

/* Pagination  -- Bnt */
.btn--pagination-btn {
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.btn--pagination-btn:hover {
  background-color: #68A2CA;
}

.btn--pagination-btn:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.btn--pagination-btn:active {
  background-color: transparent;
  color: #000000;
}

/* прописать стиль */
.pagination-link--current {}

.pagination-link {}

.hotel-sorting {}

.hotel-sorting-title {
  font-style: 400;
  font-weight: 400;
  color: #333333;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.id-hotel-control {}

/* Mark --  Icons */
.checkbox-mark {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/control-checkbox.svg);
}

.checkbox-mark:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.checkbox-mark:focus {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.checkbox-mark:active {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.radio-mark {}

/* Subscription */
.subscription {
  width: 1200px;
  height: 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription--with-img {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/index-footer.jpg);
  color: #F2F2F2;
}

.subscription--with-img p {
  color: #F2F2F2;
}

.subscription-title {
  font-style: 400;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  margin-top: 90px;
}

.subscription-subtitle {
  width: 500px;
  font-style: 400;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

  margin-top: 20px;

}

.subscription-input {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  margin-right: -5px;
  width: 600px;
  height: 60px;
  border-color: transparent;
  background-color: #FFFFFF;
  border-radius: 10px 0px 0px 10px;

  margin-top: 50px;

}

.subscription-input {}

.subscription-input[placeholder] {
  padding-left: 20px;
}

.subscription-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscription-input:hover {
  background-color: #E6E6E6;
}

.subscription-input:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

/* прописать цвет ошибки верно
.subscription-input:invalid {
  outline: 2px solid #FF5757;
}
*/

/* Subscription  -- Bnt */
.btn--subscription {
  width: 200px;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  padding-top: 15px;
  padding-bottom: 15px;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

/* Footer */
.footer-contact {
  width: 1200px;
  height: 120px;
  background-color: #FFFFFF;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  justify-content: space-between;
}

.social-list {}

.social-item {}

.contact-phone {
  font-style: 400;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 30px;

}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contact-phone:active {
  color: #756257;
  opacity: 0.3;
}


/* Social  -- Icons */
.social-link {}

.social-link:hover {}

.social-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-link:active {
  opacity: 0.3;
}

.social-link--twitter {
  background-image: url(../images/footer-icons/tw-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
}

.social-link--facebook {
  background-image: url(../images/footer-icons/fb-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
}

.social-link--youtube {
  background-image: url(../images/footer-icons/youtube-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;

}

.htmlacademy-icon {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-image: url(../images/footer-icons/htmlacademy-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

/* сделать другой цвет у ссылки наведение (разобраться с svg)
 */
.htmlacademy-icon:hover {
  fill: #756257;

}

.htmlacademy-icon:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-icon:active {
  color: #756257;
  opacity: 0.3;
}
