/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2"),
    url(../fonts/ptsans-400.woff2) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2"),
    url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}



/* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;


  :root {
    --black: #000000;
    --grey-dark: #333333;
    --grey-basic: #e5e5e5;
    --grey-light: #f2f2f2;
    --white: #FFFFFF;

    --brown: #756257;
    --green: #7DB54F;
    --blue: #83B3D3;
    --blue-extra-light: #E6F0F6;

    --brown-dark: #615048;
    --green-dark: #6C9E42;
    --blue-dark: #68A2CA;
    --blue-light: #F0F6FA;

    /* Status *
    --error: #FF5757;
    --warning: #FD922E;
    --success: #7DB550;
}
 */

/* General  */
html {
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
}

/*  Page-container  */
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Button */
.btn {
  display: inline-block;
  font-family: inherit;
  color: #FFFFFF;
  border-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  overflow: auto;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/* .btn--display-none {
  display: none;
} */

/*////////////////////////  Состояние цветных кнопок   ////////////////////////*/
/*////////////////////////  Brown Btn   ////////////////////////*/
.brown-btn {
  background-color: #756257;
}

.brown-btn:hover,
.brown-btn:focus,
.brown-btn:active {
  background-color: #615048;
}

.brown-btn:focus {
  outline: 3px solid #83B3D3;
}

/*////////////////////////  Blue Btn   ////////////////////////*/
.blue-btn {
  background-color: #83B3D3;
}

.blue-btn:hover,
.blue-btn:focus,
.blue-btn:active {
  background-color: #68A2CA;
}

.blue-btn:hover,
.blue-btn:active {
  outline: 1px solid #756257;
}

.blue-btn:focus {
  outline: 3px solid #756257;
}

/*////////////////////////  Green Btn   ////////////////////////*/
.green-btn {
  background-color: #7DB54F;
}

.green-btn:hover,
.green-btn:focus,
.green-btn:active {
  background-color: #6C9E42;
}

.green-btn:focus {
  outline: 3px solid #756257;
}

/*////////////////////////    Transparent Btn   ////////////////////////*/
.transparent-btn {
  background-color: transparent;
}

/* Main-Index */
/* Sticky-footer */
.main-container {
  flex-grow: 1;
}

/* Pages */
/* Index */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
  height: 65px;
}

/* Main Navigation */
.main-navigation {
  padding-left: 70px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
}

.navigation-list {
  display: flex;
  width: 450px;
  align-items: center;
}

.navigation-item {
  margin-right: 20px;
}

.navigation-item:nth-child(3n) {
  /* margin-right: 0; */
}

.navigation-item--current::before {
  content: ' ';


  border-bottom: 2px solid #756257;
}

.user-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navigation-link,
.user-link {
  display: block;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding: 6px 6px;
}

.navigation-link {
  border-radius: 10px 10px;
  outline: 1px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.navigation-link:hover,
.navigation-link:active {
  color: #756257;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation-link:active {
  opacity: 0.3;
  border: none;
}

.navigation-user {
  display: flex;
  max-width: 450px;
  margin-left: auto;
}

.user-link {
  padding: 5px 5px;
  outline: 1px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.user-link:focus,
.user-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.user-link--search-icon {
  fill: #000000;
}

.user-link--heart-icon {
  fill: #000000;
}

.user-link--search-icon:hover,
.user-link--heart-icon:hover,
.user-link--search-icon:focus,
.user-link--heart-icon:focus {
  fill: #756257;
}

.circus-green {
  width: 19px;
  height: 19px;
  background-color: #7DB550;
  color: #FFFFFF;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  /*   position: absolute;
 */
  right: 440px;
  top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.1em;
}

.btn--header-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border-radius: 4px;
}

.logo {
  display: block;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}

.welcome-section--with-img {
  display: flex;
  background-color: #83B3D3;
  background-image:
    url("../images/index-divider.svg"), url("../images/index-cover.jpg");
  background-position: 0 bottom, 0 -10px;
  background-size: 100%, 100% 485px;
  background-repeat: no-repeat;
}

.welcome-cover-img {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 87px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 80px;
}

.welcome-caption {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.welcome-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}

/*  Преимущества   */
/* цветные обертки */
.advantages-container--blue {
  background-color: #83B3D3;
  color: #FFFFFF;
  flex-grow: 1;
  /* padding-top: 100px; */
  /* width: 400px; */
  /* max-width: 100%;  */
}

.advantages-container--cold {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-container--light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container--blue,
.advantages-container--light-blue,
.advantages-container--cold {
  width: 400px;
}

.advantages-container--light-blue,
.advantages-container--cold {
  flex-grow: 1;
}

.advantages-container--blue,
.advantages-container--light-blue h3,
.advantages-container--cold h3 {
  width: 125px;
  padding-top: 98px;
}

.advantages-container--light-blue p {
  width: 230px;
}

.advantages-container--cold p {
  width: 240px;
}

.advantages-container--light-blue p,
.advantages-container--cold p {
  padding-bottom: 78px;
}

/* иконки и цветные обертки */
.features-item--home-icon {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/index-icons/home.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-item--eating-icon {
  background-color: #FFFFFF;
  background-image: url(../images/index-icons/eating.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-item--souvenir-icon {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/index-icons/souvenir.svg);
  background-size: 64px 75px;
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.advantages-list,
.features-list {
  display: flex;
  text-align: center;
}

.advantages-list {
  flex-wrap: wrap;
}

.features-list,
.advantages-item,
.features-item {
  width: 100%;
}

.advantages-item {
  min-width: 400px;
}

.features-item {
  padding-top: 175px;
  padding-bottom: 75px;
}

.advantages--with-img,
.advantages--with-img-reverse {
  display: flex;
}

.advantages--with-img {
  flex-wrap: wrap;
}

.advantages--with-img-reverse {
  flex-direction: row-reverse;
}

.advantages--with-img h3 {
  width: 130px;
}

.advantages--with-img-reverse h3 {
  width: 172px;
}

.advantages--with-img p,
.advantages--with-img-reverse p {
  width: 220px;
}

.advantages-title,
.features-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
}

.features-title {
  margin-bottom: 20px;
}

.advantages--number-item {
  display: block;
  margin: 20px;
}

.advantages-description,
.features-descrition {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 auto;
}

/* Subscription */
.subscription-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
}

.subscription--with-img {
  height: 410px;
  background-image: url(../images/index-footer.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-size: 100%;
  color: #F2F2F2;
}

/* Hotel-Search  */
.hotel-search-section {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hotel-search-subtitle {
  width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.btn--hotel-search-btn {
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}

/* в index цвет у p белый, но в catalog-е он черный поэтому обращаюсь к классу с картинкой
 */

.subscription--with-img p {
  color: #F2F2F2;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription-subtitle {
  width: 500px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 30px;
}

.subscription-form {
  display: flex;
}

.subscription-input {
  display: block;
  position: relative;
  padding-top: 2px;
  margin-right: 1px;
  width: 600px;
  height: 60px;
  border-color: transparent;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.subscription-input[placeholder] {
  padding-right: 20px;
  padding-left: 20px;
}

.subscription-input:hover,
.subscription-input:focus {
  background: #E6E6E6;
}

.subscription-input:focus {
  border: 3px solid #83B3D3;
}

.subscription-input:active {
  background: #FFFFFF;
  border: 2px solid #000000;
}

.btn--subscription {
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 0px 10px 10px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Catalog */
.inner-header--with-img {
  height: 410px;
  background-image: url(../images/catalog-bg.jpg);
  background-color: #83B3D3;
  background-size: 100%;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  padding-top: 30px;
  margin-left: 70px;
  margin-bottom: 0px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  margin-left: 50px;
}

.breadcrumbs:hover {
  opacity: 0.3;
}

.breadcrumbs:focus {}

.breadcrumbs:active {}


.breadcrumbs-item {
  margin-left: 20px;
}

.breadcrumbs-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/home.svg);
  background-repeat: no-repeat;
  margin-top: 5px;
}

/* доделать
 */
.breadcrumbs-icon::after {
  content: " ";
  display: block;
  background-image: url(../images/icons/nav-link.svg);
  background-size: 5px 7px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7px;
  margin-left: 20px;
}

.breadcrumbs-icon:hover::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
}

.catalog-filter-group,
.catalog-price-field {
  width: 150px;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  padding: 0px;
  margin: 0px;
}

.catalog-filter-list {
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-item {
  padding-top: 10px;
  padding-left: 40px;
}

/* .checkbox-mark {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 4px;
} */

.catalog-price-controls {
  display: flex;
  font-weight: 400;
  margin-top: 35px;
}

.catalog-price-max,
.catalog-price-min {
  text-align: right;
}

.input-min[value],
.input-max[value] {
  padding-left: 10px;
}

.input-min,
.input-max {
  width: 145px;
  height: 48px;
  color: #FFFFFF;
  background-color: transparent;
  outline: 2px solid #FFFFFF;
}

.input-min {
  border-radius: 4px 0px 0px 4px;
}

.input-max {
  border-radius: 0px 4px 4px 0px;
}

.input-min:hover,
.input-max:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
}

.input-min:hover {
  border-radius: 4px 0px 0px 4px;
}

.input-max:hover {
  border-radius: 0px 4px 4px 0px;
}

.input-min:active,
.input-max:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
}

.input-min:active {
  border-radius: 4px 0px 0px 4px;
}

.input-max:active {
  border-radius: 0px 4px 4px 0px;
}

/* контейнер для ползунка */

.range-toggle {}

.toggle-min,
.toggle-max {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.toggle-min:hover,
.toggle-max:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-min:focus,
.toggle-max:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-min:active,
.toggle-max:active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
}

.btn--filter-btn {
  width: 160px;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
}

.btn--filter-btn:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.btn--filter-btn:hover,
.btn--filter-btn:active {
  background-color: #68A2CA;
}

.btn--reset-btn {
  display: block;
  width: 100px;
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 4px;
}

.btn--reset-btn:focus {
  outline: 3px solid #83B3D3;
}

.btn--reset-btn:hover {
  opacity: 0.6;
}

.btn--reset-btn:active {
  opacity: 0.3;
}

.sorting-price-section {
  display: flex;
  padding: 40px 0px;
  padding-left: 70px;
  padding-right: 70px;
}

.sorting-price-form {
  display: flex;
  justify-content: space-between;
}

.search-results {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.price-select {
  width: 287px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 100px;
}

.price-select:hover,
.price-select:focus {
  border: 2px solid #83B3D3;
}

.price-select:active {
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

/* прописать кнопки */
.sorting-container-for-btn {
  width: 160px;
  margin-left: auto;
}

.btn--sorting-price-btn {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-size: 16px 16px, cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.btn--sorting-price-btn:hover,
.btn--sorting-price-btn:focus {
  outline: 2px solid #83B3D3;
  border-radius: 4px;
}

.btn--sorting-price-btn:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}

/* кнопки режимов просмотра каталога гостиниц */
.btn--tile-mode-btn {
  background-image: url(../images/icons/mode-tile.svg);
}

.btn--slideshow-mode-btn {
  background-image: url(../images/icons/mode-slideshow.svg);
}

.btn--list-mode-btn {
  background-image: url(../images/icons/mode-list.svg);
}

/* каталог отелей */
.hotel-catalog-section {
  padding-right: 70px;
  padding-left: 70px;
  background-color: #FFFFFF;
}

.hotel-catalog-list {
  display: flex;
  flex-direction: column;
}

.hotel-catalog-item {
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-header {
  display: flex;
}

.hotel-link--current {
  opacity: 0.3;
}

.hotel-link--img-link {
  display: block;
  width: 180px;
  padding-right: 40px;
}

.hotel-link--img-link:hover {
  opacity: 0.6;
}

.hotel-link--img-link:active {
  opacity: 0.3;
}

.hotel-title--main-title {
  display: inline-block;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  font-size: 24px;
  line-height: 31px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: -10px;
}

.hotel-title--main-title:hover,
.hotel-title--main-title:focus {
  color: #756257;
}

.hotel-title--main-title:focus {
  outline: 3px solid #83B3D3;
}

.hotel-title--main-title:active {
  opacity: 0.3;
}

.hotel-container,
.hotel-container--inner-container {
  display: flex;
  flex-direction: row;
}

.hotel-container--inner-container {
  margin-top: -5px;
}

.hotel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-container--left-col {}

.hotel-title--container {
  width: 150px;
  margin-right: 10px;
}

.hotel-title {
  font-weight: 400;
  line-height: 23px;
  color: #333333;
  margin-bottom: -30px;
}

.btn--hotel-info-btn,
.btn--fav-hotel-btn {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 30px;
}

.btn--hotel-info-btn {
  display: block;
  width: 151px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn--fav-hotel-btn {
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hotel-container--right-col {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.btn--hotel-rating-btn {
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #333333;
  padding: 10px;
}

/*  /////////////////////////       контейнер для звезд      ///////////////////////*/
/* /////////////////////////        4 звезды      /////////////////////// */
.stars-container--stars-four {
  width: 80px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

/* /////////////////////////        3 звезды       ///////////////////////*/
.stars-container--stars-three {
  width: 60px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

/*  /////////////////////////       2 звезды        ///////////////////////*/
.stars-container--stars-two {
  width: 40px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

.hotel-catalog-item--btn-container {
  display: flex;
  justify-content: center;
  font-weight: 700;
  border-bottom: 1px solid #E6E6E6;
}

.btn--download-btn {
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  padding: 10px 50px;
  border-radius: 4px;
  margin: 30px 0px;
}

.pagination-section {
  display: flex;
  padding-top: 30px;
}

.pagination-list {
  margin-right: auto;
}

.btn--pagination-btn {
  font-size: 20px;
  line-height: 26px;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.btn--pagination-btn:focus,
.btn--pagination-btn:hover {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.btn--pagination-btn:focus {
  border: 3px solid #756257;
}

.pagination-bnt--current,
.btn--pagination-btn:active {
  background: #F2F2F2;
  color: #000000;
}

.hotel-sorting-title {
  margin-right: 50px;
  font-weight: normal;
  color: #333333;
}

.id-hotel-control {
  width: 160px;
  height: 48px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.id-hotel-control:hover,
.id-hotel-control:focus {
  border: 2px solid #83B3D3;
}

.id-hotel-control:active {
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

/* Footer */
.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.social-list {
  display: flex;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-top: 50px;
  margin-right: 10px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
  padding: 15px;
  margin-top: 35px;
}

.contact-phone:hover,
.contact-phone:focus,
.contact-phone:active {
  color: #756257;
}

.contact-phone:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contact-phone:active {
  opacity: 0.3;
}

/* Social  -- Icons */
.social-link {
  display: block;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.social-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-link:active {
  opacity: 0.3;
  outline: none;
}

.social-link--twitter {
  background-image: url(../images/footer-icons/tw-icon.svg);
  background-size: 18px 15px;
}

.social-link--facebook {
  background-image: url(../images/footer-icons/fb-icon.svg);
  background-size: 10px 18px;
}

.social-link--youtube {
  background-image: url(../images/footer-icons/youtube-icon.svg);
  background-size: 20px 16px;
}

.htmlacademy-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 70px;
  margin-top: 40px;
}

.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-icon {
  fill: black;
}

.htmlacademy-icon:active,
.htmlacademy-icon:hover,
.htmlacademy-icon:focus {
  fill: #756257;
}

.htmlacademy-icon:active {
  opacity: 0.3;
}


/* PopUp */

.popup-section {
  position: absolute;
  width: 400px;
  height: 232px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px;

}

.hotel-catalog-sublist {
  display: flex;
  flex-direction: column;
}

.hotel-catalog-subitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.subhotel-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 211px;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subhotel-link:focus {
  outline: 3px solid #83B3D3;
}

.sub-navigation-img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.sub-navigation--hotel-title {
  font-size: 18px;
  line-height: 18px;
}

.sub-navigation--hotel-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.hotel-subinner-container {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  text-align: left;
}

.btn--sub-navigation-btn {
  display: block;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  background-image: url(../images/icons/delete.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--sub-navigation-btn:focus {
  outline: 3px solid #83B3D3;
}

.btn--cart-btn {
  display: block;
  position: relative;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
  right: 26px;
  top: 10px;
}
